<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/index.css">

</head>
<body>
    <h1>Enjoy adding new movie</h1>
    <form method="post" class="form-ctn">
        <div class="flex flex-col">
            <label for="name">Enter name</label>
            <input type="text" id="name" name="name" class="inp">
        </div>
        <div class="flex flex-col">
            <label for="description">Enter description</label>
            <input type="text" id="description" name="description" class="inp">
        </div>
        <div class="flex flex-col">
            <label for="rating">Enter Rating</label>
            <input type="text" id="rating" name="rating" class="inp">
        </div>
        <div class="flex flex-col">
            <label for="genre">Enter genre</label>
            <input type="text" id="genre" name="genre" class="inp">
        </div>
        <div class="flex flex-col">
            <label for="poster">Enter Poster Image</label>
            <input type="text" id="poster" name="poster" class="inp">
        </div>
        <div class="flex flex-col">
            <label for="backdrop">Enter Backdrop Image</label>
            <input type="text" id="backdrop" name="backdrop" class="inp">
        </div>
        <button class="btn">Add new</button>
    </form>
</body>
</html>